<body>
    <div class="container">
        <div class="row">
            <h1>Contact</h1>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label for="">Your First Name</label>
                        <input type="text">
                    </div>
                    <div class="col">
                        <label for="">Your Last Name</label>
                        <input type="text">
                    </div>
                </div>
                <div class="row">
                    <label for="">Your Firstname</label>
                    <input type="text">
                </div>
                <div class="row">
                    <label for="">Your Firstname</label>
                    <textarea type="text" />
                </div>
                <div class="col">
                    <button>Send Message</button>
                </div>
            </div>
            <div class="col">
                <h3>Have any Questions?</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, nulla.</p>
            </div>
        </div>
    </div>
</body>